body {background-color: rgb(236, 9, 85);}
section {color: black;}
* { box-sizing: border-box;
}

/*Flexbox*/
header,footer {background-color: black;}
header {color: rgb(253, 253, 252); }
footer {color: rgb(250, 249, 249);}
h1 {font-size: 50px;}
/* content in my box*/
p,
.sidebar1 div,
.sidebar2 div,
footer
 {padding: 20px;
}
.finn {
   min-height: 100vh;
}
.finn, .Harriet {
   display: flex;
   flex-direction: column;
   
}

.sidebar1, .sidebar2 {
   background-color: rgb(252, 252, 252);
   display:flex;justify-content: space-between;flex-direction: column;
}
p {
   flex: 1 1 auto;
}

.nav {
   display: flex;
   flex: 1 1 auto;
   align-items: flex-end; justify-content: flex-end;justify-content:space-between;

}
/* gif background */
.Jake {
   height: 100%;
   width: 100%;
   display: flex;
   background-color: black;
   align-items: center;
   justify-content: center;
}
.contain {
   height: 100vh;
   width: 100vh;
   background: url(images/geometric.gif);
   background-size: 100% 100%;
   background-repeat: no-repeat;
   background-size: cover;
   
}

/* idk yet */
html,body {
   margin: 0;
   text-align: center;
}
/*p quoute style*/
.Harriet {font-family:fantasy;
font-style: italic;}

/*link Style*/
a {color: rgb(250, 249, 248);
   text-decoration-line: overline;
   display: inline-block;
   padding: 10px;
   font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.ab {
   color: white;
}
.Art {
   display: flex;
   flex-direction: column;
   margin:1%
}
.artist {
   background-color: blue;
   background: linear-gradient(black,purple,blue);
   
}

.p1 {
   display: flex;
   color: white;   
}
.pad1 {
   flex-wrap: wrap;
   padding: 10px;
  
}
.head {
   color: white;
}
.num1 {
   align-items: flex-start;
   margin: 0;
   padding: 40px;
   flex-direction: column;
   flex-wrap: wrap;
   justify-content: space-between;
   width: 30%; 
   box-shadow: 10px 10px 10px black;
   text-align: center; 
   font-size: 40px;
}
.pic1 {
   height: 300px;
}
.p2 {
   display: flex;
   color: white;
   padding: 25px;
  
}
.num2 {
   align-items: flex-start;
   margin: 0px; 
   flex-direction: column;
   justify-content: space-between;
   flex-wrap: wrap; 
   width: 28%; 
   box-shadow: 10px 10px 10px black;
   text-align: center; 
   font-size: 40px;
   
}
.pad2 {
   padding: 10px;
   flex-wrap: wrap;
}
@media screen and (min-width: 300px)
{.nav {
   font-size: 15px;
}

}

.textarea {
   margin: 25px;

}

.submit {
   color: white;
   background-color: black;
   height: 50px;
   width: 80px;
   border-radius: 25%;
}
.bodybk {   
   min-height: 100vh;
   width: 100vh;
   background-color: black;
    background-image: url(https://media.tenor.com/jxmWpWGP7a0AAAAC/geometric.gif);
}