body {background-color: rgb(236, 9, 85);}
section {color: black;}
* { box-sizing: border-box;
}

/*Flexbox*/
header {
   display: inline; border: 1px; background-color: black;
}

html,body {
   margin: 0;
   text-align: center;
}
/*p quoute style*/
.Harriet {font-family:fantasy;
font-style: italic;}

/*link Style*/
a {color: bisque;
   text-decoration-line: overline;
   display: inline-block;
   padding: 10px;
   font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
